<div class="container">
    <header>
        <!-- Title-->
        <div class="row">
        </div>
        <!-- Fin del title-->
        <!-- Banner-->
        <!--si se quiere colocar algo encima del menu-->
        <!-- Fin del Banner-->
        <!-- Inicio del Menu-->

        <!-- Fin del Menu-->
    </header>
    <div class="row">
        <div class="span15">
         <%= image_tag "index.jpg", size: "800x1200" %>
     </div>
 </div>
</div>

<!-- Fin del Contenedor-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>