<div class="row">
    <div class="span11 offset1">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li id="menu_home" ><a href="/">Home</a></li>
                        <li id="menu_clients" ><a href="clients">Client</a></li>
                        <li id="menu_brands"><a href="brands">brand</a></li>
                        <li id="menu_models"><a href="models">Model</a></li>
                        <li id="menu_mechanics"><a href="mechanics">Mechanic</a></li>
                        <li id="menu_replacements"><a href="replacements">Replacement</a></li>
                        <li id="menu_order_masters"><a href="order_masters">Work Order</a></li>
                        <li id="menu_type_of_works"><a href="type_of_works">Type of Work</a></li>
                        <li id="menu_states"><a href="states">State</a></li>
                        <li id="menu_vehicles"><a href="vehicles">Vehicle</a></li>
                        <li id="menu_invoice_masters"><a href="invoice_masters">Invoice</a></li>

                    </ul>
                </div>
            </div>
        </div> 
    </div>
</div>
<!-- js para activar/desactivar el menu -->
<script>
     var controllerName = "<%= params[:controller] || controller.name %>";
    if(controllerName == "default" ){
        $("#menu_home").addClass("active");
    }else{
        $("#menu_"+controllerName).addClass("active");
    }
    
</script>